@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stat-container {
    @apply px-5 py-[10] rounded-lg flex gap-3 items-center;
  }
  .fa-icon {
    @apply border border-blue-1 rounded-full p-4 w-8 h-8 flex justify-center items-center bg-[#2b64cf1b];
  }
  .col2 {
    @apply flex flex-col;
  }
}
@layer base {
  body {
    @apply dark:bg-[#0d1117] bg-[#eef0f5];
  }
}

/* :root {
  --blue-4: #0d1117;
  --light-4: #eef0f5;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#app {
  margin: 0 auto;
}
